<h1 class="text-center my-3 bg-yellow text-black py-3 my-3">
  Merci pour votre achat !
</h1>

<p class="text-center my-5">
  Votre commande a bien été enregistrée.
  Nous vous remercions de votre confiance.
</p>

<p class="text-center my-5">
  Vous pouvez suivre les inscriptions aux stages ou les adhésions annuelles de vos enfants dans votre <%= link_to "Espace Parent", parents_children_path, class: "text-primary" %>.
</p>
