<h3 class="bg-black parent-title text-center fs-5 py-3 px-2 fw-bold mb-0">
  Merci pour votre inscription !
</h3>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <p class="text-center">
        Votre inscription a bien été enregistrée.
        Nous vous remercions de votre confiance.
      </p>

      <p class="text-center">
        Vous allez recevoir un mail qui récapitule votre inscription
      </p>

      <p class="text-center">
        Vous pouvez suivre les inscriptions et les cotisations annuelles de vos enfants sur leur <%= link_to "profil", parents_children_path, class: "text-primary" %>.
      </p>
    </div>
  </div>
</div>
