<%= link_to "Ajouter un élève", new_managers_student_path, class: "btn btn-primary" %>
<% @students.each do |student| %>
<ul>
  <li>
    <%= link_to "#{student.first_name} #{student.last_name}", managers_student_path(student) %>
  </li>
</ul>
<% end %>
