<h1 class="bg-black parent-title text-center p-3 mb-0">
  <%= @child.full_name %>
</h1>

<section class="container bg-white rounded-4 shadow p-3 mt-3">
  <%= render "parents/children/components/information-card", child: @child, start_year: @start_year, membership: @membership %>
</section>

<section class="container my-3 shadow p-0 rounded-4 bg-white">
  <h2 class=" text-center p-3 bg-black text-white rounded-top-4">
    Adhésion
  </h2>

  <div class="bg-white rounded-bottom-4 p-3">
    <%= render "parents/children/components/memberships-card", memberships: @memberships %>
  </div>
</section>

<section class="container my-3 shadow p-0 rounded-4 bg-white">
    <h2 class=" text-center p-3 bg-black text-white rounded-top-4">
      Historique
    </h2>

    <div class="bg-white rounded-bottom-4 p-3">
      <%= render "parents/children/components/camp-enrollments-card", camp_enrollments: @camp_enrollments %>
    </div>
</section>
