<%= turbo_frame_tag "selected_content" do %>
  <div class="flexy">
    <%= link_to export_students_csv_managers_camp_path(camp, format: :csv) do %>
      <i class="fa-solid fa-download fa-download-camp ml-0 mb-2"></i>
    <% end %>
  </div>

  <% if students.any? %>
    <div class="container container-big mb-4" data-controller="clickable-table">
      <div class="card-row-container">
        <div class="row pb-2 pt-2 header-row sticky-header align-items-center">
          <div class="col flexy-row">Nom</div>
          <div class="col flexy-row">Prénom</div>
          <% if academy.banished %>
            <div class="col flexy-row small-col">Exclu ?</div>
          <% end %>
          <div class="col flexy-row text-wrap text-center small-col">Droit à l'image ?</div>
          <% if school_period.paid %>
            <div class="col flexy-row text-wrap text-center small-col">A payé ?</div>
          <% end %>
          <% if school_period.tshirt %>
            <div class="col flexy-row text-wrap text-center small-col">Tshirt reçu ?</div>
          <% end %>
          <div class="col flexy-row small-col">Age</div>
          <div class="col flexy-row">Activité 1</div>
          <div class="col flexy-row">Activité 2</div>
          <div class="col flexy-row small-col">Suppr</div>
        </div>
        <% all_students_with_free_judo = camp.all_students_with_free_judo %>
        <%= render "managers/camps/student_list",
              students: students,
              camp: camp,
              school_period: school_period,
              academy: academy,
              all_students_with_free_judo: all_students_with_free_judo %>
      </div>
    </div>
  <% end %>
  <%= render "shared/flashes" %>
<% end %>
