// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
// $body-font: "Halyard Display", "Work Sans", "sans-serif";
$headers-font: "Monument Extended", "Nunito", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Halyard Display";
  src: font-url('HalyardDisplayBook.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument Extended";
  src: font-url('MonumentExtended-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
