<div class="row">
  <div class="col-4">
    <%= simple_form_for @course, url: managers_course_path(@course), method: :patch do |f| %>
      <%= f.input :starts_at, as: :time, minute_step: 15, input_html: { class: 'form-control' } %>
      <%= f.input :ends_at, as: :time, minute_step: 15, input_html: { class: 'form-control' } %>
      <%= f.submit class: 'btn btn-info' %>
    <% end %>
  </div>
</div>
