<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul class="mb-0">
      <% resource.errors.each do |attribute, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
