<%= turbo_frame_tag "selected_content" do %>
  <% if @camp_enrollments.any? %>
    <div class="container container-big mb-4" data-controller="clickable-table">
      <div class="card-row-container">
        <div class="row pb-2 pt-2 header-row align-items-center">
          <div class="col-2 flexy-row">Nom</div>
          <div class="col-2 flexy-row">Prénom</div>
          <div class="col-2 flexy-row">Stage</div>
          <div class="col-1 flexy-row small-col">Prix</div>
          <div class="col-1 flexy-row medium-col text-wrap text-center">Date du paiement</div>
          <div class="col-1 flexy-row medium-col text-wrap text-center">Mode de paiement</div>
          <div class="col-2 flexy-row">Reçu par</div>
          <div class="col-1 flexy-row small-col">Payé ?</div>
        </div>
        <% @camp_enrollments.each do |camp_enrollment| %>
          <%= render "managers/camp_enrollments/student", camp: @camp, camp_enrollment: camp_enrollment, all_students_with_free_judo: @all_students_with_free_judo %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="flexy mb-4 mt-4">Aucun paiement à gérer pour le moment.</div>
  <% end %>
  <%= render "shared/flashes" %>
<% end %>
