<div class="cards-academy">
  <% @academies.each do |academy| %>
    <%= link_to managers_academy_path(academy) do %>
      <div class="card-academy">
          <%= academy.name %>
      </div>
    <% end %>
  <% end %>
</div>
