<h1 class="bg-black parent-title text-center fs-4 py-3 fw-bold mb-0">
  MES ACADÉMIES
</h1>
<div class="dashboard-container dashboard-container-manager">
  <div class="row justify-content-center align-items-center">
      <% @academies.each do |academy| %>
        <%= link_to managers_academy_path(academy), class: "col-12 col-lg-5 mt-1" do %>
          <div class="card-academy" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= display_academy_image(academy) %>')">
            <h4 class="mb-0"><%= academy.name.upcase %></h4>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
