<%= link_to managers_academy_path(@academy) do %>
  <div id="academy-header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('mahut.jpg') %>')">
    <%= @academy.name %>
  </div>
<% end %>
