<%# app/views/pages/components/_card.html.erb %>

<div class="card rounded-5 bg-black border-0 h-100">
    <%= image_tag src, alt: "...", class: " rounded-4 w-100 card-img-top object-fit-cover" %>



  <div class="card-body mt-3">
    <h4 class="card-title" style="color: yellow">
      <strong>
        <%= h3 %>
      </strong>
    </h4>
    <p class="card-text text-white">
      <%= p %>
    </p>
  </div>

</div>

<%# render "components/card", src: src, h3: h3, p: p %>
