<section id="new-inscription" class="container" style="height: 500vh">
  <h1 class="text-center my-3">
    Bienvenue chez Etendart <%= @user.first_name %>!
  </h1>

  <div class="row justify-content-center">

    <div class="col-md-6 col-md-offset-3">
      <p class="text-center">
          Vous êtes parent et vous souhaitez que vos enfants rejoignent l'aventure Etendart ? Poursuivez votre inscription !
      </p>

      <p class="text-center">
        <a href="#" class="btn btn-primary">
          Je suis Parent
        </a>
      </p>
    </div>

  </div>

  <hr>

  <div class="row justify-content-center">

    <div class="col-md-6 col-md-offset-3">
      <p class="text-center">
        Vous travaillez chez Etendart et vous souhaitez accéder à votre espace personnel ? Restez patient, un manager va vous contacter.
      </p>
    </div>

  </div>

</section>
