<h1>MANAGER</h1>

<ul>
<li><%= link_to "Mes academies", managers_academies_path %></li>
<li><%= link_to "Mes cours", managers_courses_path %></li>
<li><%= link_to "Les categories d'activité", managers_categories_path %></li>
</ul>
