<%# app/views/parents/children/components/_rules-modal.html.erb %>

<!-- Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Règlement Intérieur - Etendart Academy
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="mt-3 mb-2 fs-5">
          1. Préambule / Disposition générales
        </h3>
        <p>
          Le règlement intérieur des adhérents a pour objet de définir les règles d’inscription
          aux expériences pédagogiques proposées par Etendart Academy. Il s’applique à
          l’ensemble des adhérents d’Etendart Academy.
          Il est adopté par le Conseil d’administration d’Etendart Academy.
        </p>

        <h3 class="mt-3 mb-2 fs-5">
          2. Inscription
        </h3>
        <p>
          Un dossier d’inscription est composé de tous les éléments permettant d’être membre
          d’Etendart Academy et ensuite de s’inscrire à une ou plusieurs expériences
          pédagogiques:
          <br>
          - Les informations obligatoires à renseigner ;
          <br>
          - Le paiement de l’adhésion ;
          <br>
          - Et tout document spécifique demandé pour une activité. Le certificat médical et/ou
          le questionnaire de santé, pour les activités sportives.
          <br>
          Ces documents font partie intégrante du dossier d’inscription. S’il manque un
          élément au dossier d’inscription, celui-ci est réputé incomplet. L’adhérent ne sera
          alors pas inscrit aux activités et ne pourra pas y accéder.
          Le dossier d’inscription est disponible en ligne.
          Tout faux document est passible d’une sanction disciplinaire pouvant aller jusqu’à
          l’exclusion, sans aucun remboursement des frais engagés.
        </p>

        <h3 class="mt-3 mb-2 fs-5">
          3. Adhésion
        </h3>
        <p>
          L’adhésion est un droit d’entrée annuel qui permet de s’inscrire à une ou plusieurs
          expériences pédagogiques.
          <br>
          Elle est valable du 1er septembre N au 31 août N+1.
          <br>
          L’adhésion à l’association engage l’adhérent à respecter les principes pédagogiques
          et valeurs portés par Etendart Academy.
          <br>
          Cette adhésion est obligatoire, payable chaque année et non remboursable.
          Le montant de l’adhésion est fixé par le Conseil d’administration.
          A titre indicatif, le montant de l’adhésion pour 2024-2025 est de :
          <br>
          - Adhésion pour un adulte : 15 €
          <br>
          - Adhésion pour un enfant : 15 €
        </p>

        <h3 class="mt-3 mb-2 fs-5">
          4. Inscriptions aux expériences pédagogiques
        </h3>
        <p>
          Pour participer aux expériences pédagogiques proposées (programme annuel,
          stages, sorties…) chaque membre doit s’acquitter :
          <br>
          - Du montant de l’inscription, fixé par Etendart Academy;
          <br>
          L’inscription à une expérience pédagogique peut être annulée jusqu’à la veille de sa
          date de début.
        </p>

        <h3 class="mt-3 mb-2 fs-5">
          5. Moyens de paiement
        </h3>
        <p>
          Les moyens de paiement autorisés sont :
          <br>
          1. Pour les adhésions et inscriptions (programmes annuels, stages, évènements) en ligne
          sur Hello Asso: carte bancaire
          <br>
          2. Pour les inscriptions aux programmes annuels en présentiel : espèces, chèque,
          pass’sport.
          <br>
          3. Pour les inscriptions aux stages et aux évènements en présentiel: carte bancaire,
          espèces.
          <br>
          En cas d’échec d’encaissement, l’accès à l’activité ne sera autorisé qu’après
          régularisation. A défaut de régularisation, l’inscription sera annulée et la place
          libérée.
          <br>
          Le Pass’Sport est une aide financière de l’Etat de 50 (cinquante) euros pour favoriser
          la pratique sportive à destination des jeunes qui en sont le plus éloignés. Son
          ambition est de répondre à un enjeu de cohésion sociale et d’épanouissement du
          jeune. Cette aide individuelle, incessible, est à usage unique et cumulable avec
          d’autres dispositifs d’aides existants. La famille ou la personne concernée reçoit la
          notification de l’Etat par laquelle elle est bénéficiaire de l’aide. Si cette notification est
          reçue avant l’inscription, l’aide financière est immédiatement déduite de l’inscription.
          Si la notification est reçue après l’inscription, sur présentation du justificatif, Etendart
          Academy procède au remboursement du montant de l’aide.
        </p>

        <h3 class="mt-3 mb-2 fs-5">
          6. Devoirs des membres de l’association
        </h3>
        <p>
          Chaque adhérent doit respecter des règles fixées par les statuts de l’association,
          pour assurer le bon fonctionnement de l’association et de ses activités.
          <br>
          - Chaque adhérent doit respecter les horaires des créneaux d’activité, à savoir être à
          l’heure, et quitter le cours quand celui-ci est terminé ;
          <br>
          - Les parents sont responsables de leur enfant jusqu’à l’heure de début de la séance
          et dès la fin de la séance. Le temps de la durée de la séance, l’enfant est sous la
          responsabilité de l’encadrant Etendart Academy ;
          <br>
          En cas de non-respect des horaires, entraînant un dérangement abusif pour le ou les
          encadrants, l’adhérent se verra refuser l’accès à l’activité. Les enfants doivent être
          récupérés dès la fin du cours par leur parent ou une personne dûment autorisée. Tout
          retard, ayant contraint l’intervenant à rester, sera facturé 20€ aux parents.
          <br>
          - Chaque adhérent doit respecter les règles élémentaires de savoir-vivre et de savoir-
          être en collectivité.
          <br>
          - Chaque adhérent doit respecter le matériel confié et les lieux de pratique.
          <br>
          L’adhésion à Etendart Academy suppose le respect des règles de fonctionnement.
          Toute personne dont le comportement ou les propos seraient non conformes avec
          l’éthique de l’association pourra se voir immédiatement exclue de la séance par
          l’intervenant, et sera susceptible d’une procédure disciplinaire.
          <br>
          Sont considérés comme motifs d’exclusion :
          <br>
          - Toute rixe, injure, insulte, comportement agressif, incivilité et a fortiori tout acte
          pénalement sanctionnable. Il en est de même de tout comportement raciste,
          xénophobe, sexiste et/ou discriminant au sens des dispositions du Code pénal ;
          <br>
          - Infraction aux statuts et règlement intérieur de l’association ;
          <br>
          - Toute action de nature à porter préjudice, directement ou indirectement, aux
          activités et aux membres adhérents, bénévoles et salariés de l’association ou à sa
          réputation, à ses intérêts moraux et matériels ;
          <br>
          - Détérioration du matériel ;
          <br>
          - Comportement inconvenant ou dangereux ;
          <br>
          - Propos désobligeants, injurieux ou diffamatoires envers les autres membres ou les
          animateurs, sur Internet ou lors des activités de l’association ;
          <br>
          - Il est formellement interdit de vapoter, fumer ou consommer toutes substances
          illicites et dangereuses dans les locaux où sont pratiquées les activités de
          l’association.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
