<div class="yellow-title mb-0">
  <%= @activity.name.upcase %> <br> <%= l(@course.starts_at, format: :default) %> à <%= l(@course.ends_at, format: :hour_min) %>
</div>
<%= render "coaches/courses/course",
  course: @course,
  activity: @activity,
  school_period: @school_period,
  academy: @academy,
  enrollments: @enrollments,
  camp: @camp,
  category: @category,
  banished_students: @banished_students,
  missing_students_count: @missing_students_count,
  present_students_count: @present_students_count %>
