.alert {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .alert {
    animation: fadeOut 10s forwards;;
  }
}
