.btn-etendart {
  text-align: center;
  padding: 8px;
  border-radius: 32px;
  background-color: black;
  color: $yellow;
  border: none;
  min-width: 140px;
  font-size: 16px;
  // font-weight: 900;
  margin: 1em 1em 0em 1em;
}

.btn-add-student {
  text-align: center;
  padding: 7px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
  width: 200px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-add-pink {
  width: 140px;
  border-radius: 8px;
  color: white;
  background-color: $pink;
  height: 34px!important;
  transition: transform 0.2s ease-in-out;

  &:hover {
    background-color: rgb(255, 10, 10)!important;
    color: white!important;
    transform: scale(1.06);
  }
}

.btn-add-payment {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: black;
  color: white;
  border: none;
  width: 160px;

  i {
    font-size: 15px!important;
  }
}

.btn-add-payment:hover {
  color: $yellow;
}

// .btn-selection {
//   font-weight: 900;
//   text-align: center;
//   padding: 7px;
//   border-radius: 20px;
//   background-color: black;
//   color: white;
//   border: none;
//   width: 200px;
//   height: 42px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .btn-selection:hover {
//   background-color: black;
//   color: $yellow;
//   transition: 0.3s;
// }

// .btn-selection.selected {
//   background-color: $yellow;
//   color: black;
// }

// .btn-selection.selected:hover {
//   background-color: $yellow;
//   color: black;
// }

.btn-fill:hover {
  color: $yellow;
}

.btn-fill:before {
  content: "";
  position: absolute;
  background: black;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.15s ease-in;
}

.btn-fill:hover:before {
  top: 0;
}

.btn-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  //display:block;
  height: 45px;
  width: 229px;
  margin: 1rem;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
  border: 2px black solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.15s ease-in;
  -o-transition:      0.15s ease-in;
  -ms-transition:     0.15s ease-in;
  -moz-transition:    0.15s ease-in;
  -webkit-transition: 0.15s ease-in;
}

.btn-fill.selected {
  background-color: black;
  color: $yellow;
}

.btn-select-academy {
  margin: 0.5rem!important;
}


.btn-add-student-small {
  width: 120px;
}
.btn-add-student-grey {
  background-color: rgb(185, 185, 185);
}
.btn-add-student-grey:hover {
  color: black!important;
}

.btn-no-hover:hover {
  background-color: black!important;
}
.btn-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-large {
  width: 300px;
}

.fa-square-bigger {
  font-size: 20px;
}
.btn-add-student:hover {
  color: $yellow;
  transition: 0.3s;
}

.btn-reintegrer {
  margin: 0em 0em 0em 0em!important;
  padding: 4px!important;
}

.btn-reintegrer:hover {
  background-color: white!important;
  color: black!important;
}

.btn-presence {
  margin: 0em 1em 1em 1em!important;
}

.btn-presence.disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}
.btn-presence.disabled:hover {
  background-color: gray!important;
  color: white!important;
}

.btn-etendart:hover {
  background-color: $yellow;
  color: black;
  transition: 0.3s;
}

.btn-etendart-small {
  text-align: center;
  padding: 8px;
  border-radius: 32px;
  background-color: $yellow;
  color: black;
  border: none;
  min-width: 140px;
  font-size: 14px;
  margin-bottom: 1em;
}

.btn-etendart-small:hover {
  background-color: black;
  color: $yellow;
  transition: 0.3s;
}

.btn-smaller {
  min-width: 120px!important;
}

.btn-small-square {
  border-radius: 6px!important;
}

.btn-grey {
  background-color: rgb(222, 222, 222);
  color: black;
}

.btn-new-generation {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: $yellow;
  color: black;
  border: none;
  width: 100%;
  font-size: 16px;
}

.btn-new-generation:hover {
  background-color: black;
  color: $yellow;
  transition: 0.3s;
}

.btn-etendart-yellow {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: $yellow;
  color: black;
  border: none;
  min-width: 140px;
  font-size: 16px;
  margin: 1em 1em 0em 1em;
}

.btn-etendart-yellow:hover {
  background-color: black;
  color: $yellow;
  transition: 0.3s;
}

.btn-no-top-margin {
  margin-top: 0em!important;
  padding: 3px!important;
}

.btn-etendart-square {
  text-align: center;
  padding: 8px;
  border-radius: 32px;
  background-color: black;
  color: white;
  border: none;
  min-width: 205px;
  font-size: 16px;
  // font-weight: 900;
  margin: 1em 1em 0em 1em;
}

.btn-etendart-square:hover {
  color: $yellow;
  transition: 0.3s;
}

.btn-stat {
  background-color: $yellow!important;
  color: black!important;
  transition: 0.3s;
}
.btn-stat:hover {
  background-color: black!important;
  color: $yellow!important;
  transition: 0.3s;
}


.btn-etendart-black {
  text-align: center;
  padding: 8px;
  border-radius: 32px;
  background-color: rgb(222, 222, 222);
  color: black;
  border: none;
  min-width: 140px;
  font-size: 16px;
  // font-weight: 900;
  margin: 1em 1em 0em 1em;
}


.btn-etendart-black:hover {
  background-color: #686868;
  color: white;
  transition: 0.3s;
}

.btn-photo {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  background-color: #ffffff;
  color: rgb(154, 154, 154);
  border: 1px solid rgb(154, 154, 154);
  margin: 1em 1em 1em 1em;
  cursor: pointer;
}
.btn-coach-photo {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  background-color: $yellow;
  color: black;
  margin: 2em 0em 1em 0em;
  cursor: pointer;
}

.btn-photo:hover {
  background-color: rgb(154, 154, 154);
  color: white;
  transition: 0.3s;
}

.btn-clear {
  border-radius: 6px;
  padding: 8px;
  border: 0.5px solid lightgray;
}

.table-header-student input {
  width: 320px;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
  border: 0.5px solid lightgray;
}

.select-length {
  border-radius: 6px!important;
  padding: 8px!important;
  border: 0.5px solid lightgray!important;
}


.flex-btn {
  display: flex;
  justify-content: space-around;
}

.fa-trash {
  color: black;
}

.fa-trash:hover {
  color: $pink;
}

.fa-big {
  font-size: 2.5em;
}

.fa-bigger {
  font-size: 3em;
}

.fa-small {
  font-size: 1.7em;
}

.fa-pink {
  color: $pink;
}

.fa-test {
  font-size: 1.2em;
}

.fa-no-margin {
  margin: 0em!important;
}
.fa-download {
  font-size: 24px;
  margin-left: 16px;
}

.fa-download-camp {
  font-size: 32px;
  color: black;
  margin-left: 0!important;
}

.fa-download-camp:hover {
  color: $yellow;
}

.fa-upload {
  font-size: 24px;
  margin-right: 16px;
}

.fa-user-pen {
  color: white;
}

.fa-user-pen:hover {
  color: $yellow;
}

.fa-download-white {
  color: $yellow;
}
.fa-download-white:hover {
  color: white;
}

.fa-download-black {
  color: black;
}
.fa-download-black:hover {
  color: white;
}

.fa-arrow-rotate-left {
  font-size: 2em;
}

.change-photo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 10px;
  width: 105px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

#change-photo-manager {
  top: 75%;
  left: 16%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

#change-photo-coach {
  top: 92%;
  left: 12%;
}

@media screen and (min-width: 768px) {
  .btn-connexion {
    padding: 16px!important;
    border-radius: 16px!important;
    font-size: 20px!important;
  }
}
