.btn-connexion {
  padding: 20px!important;
  border-radius: 16px!important;
  font-size: 20px!important;
}


.btn-etendart {
  text-align: center;
  padding: 8px;
  border-radius: 32px;
  background-color: black;
  color: $yellow;
  border: none;
  min-width: 140px;
  font-size: 16px;
  // font-weight: 900;
  margin: 1em 1em 0em 1em;
}

.btn-etendart:hover {
  background-color: $yellow;
  color: black;
  transition: 0.3s;
}

.btn-etendart-blue {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  background-color: #042060;
  color: white;
  border: none;
  min-width: 140px;
  font-size: 16px;
  // font-weight: 900;
  margin: 1em 1em 0em 1em;
}

.btn-etendart-blue:hover {
  color: white!important;
}

.btn-etendart-square {
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  background-color: black;
  color: $yellow;
  border: none;
  min-width: 140px;
  font-size: 16px;
  // font-weight: 900;
  margin: 1em 1em 0em 1em;
}

.btn-etendart-square:hover {
  background-color: $yellow;
  color: black;
  transition: 0.3s;
}


.btn-etendart-black {
  text-align: center;
  padding: 8px;
  border-radius: 32px;
  background-color: rgb(222, 222, 222);
  color: black;
  border: none;
  min-width: 140px;
  font-size: 16px;
  // font-weight: 900;
  margin: 1em 1em 0em 1em;
}


.btn-etendart-black:hover {
  background-color: #686868;
  color: white;
  transition: 0.3s;
}

.btn-photo {
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  background-color: #ffffff;
  color: rgb(154, 154, 154);
  border: 1px solid rgb(154, 154, 154);
  border: none;
  // font-weight: 900;
  margin: 1em 1em 1em 1em;
}

.btn-clear {
  border-radius: 6px;
  padding: 8px;
  border: 0.5px solid lightgray;
}


.table-header-student input {
  width: 320px;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
  border: 0.5px solid lightgray;
}

.select-length {
  border-radius: 6px!important;
  padding: 8px!important;
  border: 0.5px solid lightgray!important;
}


.flex-btn {
  display: flex;
  justify-content: center;
}

.fa-trash {
  color: black;
}
