.btn-etendart {
  text-align: center;
  padding: 16px;
  border-radius: 32px;
  background-color: $yellow;
  color: black;
  border: none;
  min-width: 160px;
  font-size: 16px;
  font-weight: 900;
}

// .btn-etendart:hover {
//   background-color: $yellow;
//   color: black;
//   transition: 0.3s;
// }

.btn {
  margin: 4px 0px;
}

.btn-day {
  background-color: $yellow;
  color: black;
  width: 220px;
  text-align: center;
  border: none;
}

.flex-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
