.cards-academy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-academy {
  background-size: cover;
  background-position: center;
  padding: 64px;
  border-radius: 8px;
  margin: 10px 0px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 900;
  height: 120px;
  // width: 90%; /* Utilisez une valeur relative en pourcentage */
  // max-width: 600px; /* Définissez une largeur maximale pour les cartes */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.card-academy:hover {
  transform: scale(1.1);
}
