.card-category {
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-self: center;
  text-align: center;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.card-category:hover {
  transform: scale(1.05);
}

.card-category-small-height {
  height: 60px;
}

@media (min-width: 768px) {
  .col-md-1-5 {
    flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .col-md-2-5 {
    flex: 0 0 20.8%;
    max-width: 20.8%;
  }
}


// @media screen and (max-width: 1024px) {
//   .card-category {
//     height: 60px;
//     font-size: 20px;
//   }
// }

// @media screen and (max-width: 768px) {
//   .card-category {
//     height: 80px;
//     font-size: 20px;
//   }
// }
// @media screen and (max-width: 768px) {
//   .card-category {
//     height: 80px;
//     font-size: 20px;
//   }
// }

// @media screen and (max-width: 480px) {
//   .card-category {
//     height: 60px;
//     font-size: 16px;
//   }
// }

@media screen and (max-width: 450px) {
  .card-category {
    height: 50px;
    font-size: 12px;
  }
}
