.course-status {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 7em;
}

.course-infos {
  width: 13em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;

    p {
      margin: 0;
    }
}
