.devise-form {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  max-width: 250px;
}

.devise-edit-form {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  max-width: 300px;
}
