
.form-container {
  max-width: 600px;
  min-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

.form-hour {
  width: 150px;
  margin-right: 5px;
}

.time-field {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 20px;
}

.error {
  border-color: red;
}

.field_with_errors {
  background-color: #ffcccc; /* couleur de fond en rouge */
}
