.green-check:checked {
  background-color: green;
  border: none!important;
}

.form-switch-input:checked {
  background-color: #8bbf8f;
  border: none!important;
}

.form-switch-input {
  margin-top: 6px;
}

.table-small a {
  color: black;
}

.container-info-presence-sheet p {
  margin-bottom: 6px;
}

.presence-status {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 240px;
}

.container-presence-sheet {
  padding: 0px!important;
  width: 100%;
  max-width: 450px;
  margin: 0em 0em 0em 0em!important;
}

.form-switch {
  padding-left: 3.5em!important;
}

.presence-head {
  font-size: 0.85em;
}

.has-paid {
  display: flex;
  justify-content: center;
}

// .table-striped>tbody>tr:nth-child(odd)>td,
// .table-striped>tbody>tr:nth-child(odd)>th {
//    background-color: rgb(0, 0, 0);
//    a {
//     color: white;
//    } // Choose your own color here
//  }

// .table-striped>tbody>tr:nth-child(even)>td,
// .table-striped>tbody>tr:nth-child(even)>th {
//    background-color: $yellow;
//    a {
//     color: black;
//    } // Choose your own color here
//  }
