
.form-container {
  min-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  margin: 12px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.presence-sheet-container {
  padding: 0px;
}

.form-min-width {
  min-width: 500px;
}

.feedback-container {
  min-width: 200px;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  margin: 12px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.form-hour {
  width: 150px;
  margin-right: 5px;
}

.time-field {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 20px;
}

.error {
  border-color: red;
}

.field_with_errors {
  background-color: #ffcccc; /* couleur de fond en rouge */
}
