.hidden-form {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.hidden-form.show {
  opacity: 1;
  max-height: 1000px; /* une valeur suffisamment grande pour contenir le contenu */
  transition: all 0.5s ease-in-out;
}
