.navbar {
  padding: 10px 20px;
  background-color: $black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 64px;
}

.navbar.show {
  height: 100vh;
}


.navbar-brand {
  color: $yellow;
  font-size: 24px;
  font-weight: 900;
}
.navbar-brand:hover {
  color: $yellow;
}

.navbar-tog {
  background-color: transparent;
  border: none;
  display: block;
  position: relative;
  width: 32px;
  min-width: 32px;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

/* Hamburger Icon */

.icon-bar {
  background-color: $yellow;
  display: block;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
  min-width: 32px;
  transition: all 0.5s ease-in-out;
}

.icon-bar:last-child {
  margin-bottom: 0;
}

.navbar-tog.active .icon-bar:nth-child(2) {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.navbar-tog.active .icon-bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.navbar-tog.active .icon-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  transition: all 0.5s ease-in-out;
}

.navbar-tog:not(.active) .icon-bar:nth-child(1) {
  transform: translateY(0) rotate(0);
  transition: all 0.5s ease-in-out;
}

.navbar-tog:not(.active) .icon-bar:nth-child(3) {
  transform: translateY(0) rotate(0);
  transition: all 0.5s ease-in-out;
}



.nav-item {
  padding: 0.5rem;
  text-align: center;
}


.nav-link {
  color:$yellow;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}
.nav-link-small {
  font-size: 14px!important;
}

.nav-link:hover {
  color: white;
  transition: 0.3s;
}

.navbar-collapse {
  display: none;
  margin: 0;
  margin-top: 1rem;
  width: 100%;
}

.navbar-collapse.show {
  margin-top: 0;
  display: flex;
  height: 100vh;
  padding-bottom: 20vh;
}


.navbar-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: end;
}

.nav-item {
  padding: 0px;
}


@media (min-width: 700px) {
  .navbar {
    flex-wrap: nowrap;
  }

  .navbar-tog {
    display: none;
  }

  .nav-item {
    padding: 0 1rem;
    text-align: center;
    border-right: 1px solid $yellow;
  }


  .nav-item:last-child {
    border-right: none;
  }

  .navbar-nav {
    flex-direction: row!important;
  }

  .navbar-collapse {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
    justify-content: end;
  }

  .nav-link {
    font-size: 14px;
  }

  .dashboard-details {
    display: none;
  }

}
