.page-link {
  color: black!important;
}

.page-item:not(.next):not(.prev) > .page-link {
  border: 1px solid #bfbdbd!important;
  background-color: white;
}



.page-item.active > .page-link {
  background-color: $yellow!important;
  border-color: $yellow!important;
}

.page-item.prev.disabled > .page-link {
  color: rgb(191, 189, 189)!important;
}

.page-item.next.disabled > .page-link {
  color: rgb(191, 189, 189)!important;
}

.pagination {
  margin: 0px!important;
  border-radius: 20px!important;
  // --bs-pagination-bg: white!important;
  --bs-pagination-disabled-bg: none!important;
  --bs-pagination-border-width: 0px!important;
  --bs-pagination-bg: none!important;
  --bs-pagination-hover-color: none!important;
  --bs-pagination-hover-bg: none!important;
  --bs-pagination-hover-border-color: none!important;
  --bs-pagination-focus-color: none!important;
  --bs-pagination-focus-bg: none!important;
  --bs-pagination-focus-box-shadow: none!important;

}

.student-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.student-input-search {
  background-color: white;
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 42px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(14, 0, 0);
  background-clip: padding-box;
  appearance: none;
  padding: 0.375rem 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(206, 212, 218);
  border-image: initial;
}

.student-input-search:focus {
  outline: none;
  border-color: $yellow; /* Définir la bordure souhaitée */
}

// .page-item.next {
//   border-top-right-radius: 20px;
//   border-bottom-right-radius: 20px;
// }

.page-item.prev {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white !important;
  border-left: 1px solid #bfbdbd !important;
  border-top: 1px solid #bfbdbd !important;
  border-bottom: 1px solid #bfbdbd !important;
}

.page-item.next {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white !important;
  border-right: 1px solid #bfbdbd !important;
  border-top: 1px solid #bfbdbd !important;
  border-bottom: 1px solid #bfbdbd !important;
}

.academy-select {
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
}

.academy-select:hover {
  background-color: black;
  color: $yellow;
}

.academy-select:focus {
  outline: none;
  border: none  ;
}

.select-caret {
  position: absolute;
  top: 18%;
  right: 6%;
  font-size: 24px;
  pointer-events: none;
  margin: 0!important;
}
