
.student-container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

.header-info {
  background-color: $yellow;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
}

// .content-info {
//   background-color: white;
//   padding: 20px;
//   border-bottom-left-radius: 10px;
//   border-bottom-right-radius: 10px;
//   height: calc(100% - 50px);
// }

.content-info {
  background-color: white;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
