
.student-container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
}

.header-info {
  background-color: black;
  color: $yellow;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
}

.header-info-coach {
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}

.header-info-yellow {
  background-color: $yellow!important;
  color: black!important;
}

.header-info-academy {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-info {
  background-color: white;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-info-coach {
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

.coach-info {
  background-color: white;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
