.clickable-tr {
  cursor: pointer;
}

.clickable-tr:hover {
  background-color: $yellow!important;
  cursor: pointer;
}

.clickable-coach-tr {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease; /* Transitions pour l'échelle et la couleur de fond */
}

.clickable-coach-tr:active,
.clickable-coach-tr:focus {
  transform: scale(1.05) translateZ(0); /* Légère transformation 3D pour éviter le flou du texte */
  background-color: $yellow;
}

.table {
  --bs-table-bg: transparent !important;
}

.table.course-table > :not(caption) > * > * {
  padding: 0.7rem 0rem; /* Modifiez la valeur de padding selon vos besoins */
}

.sticky-header {
  position: sticky;
  top: 64px;
  z-index: 900;
}

.non-bg {
  color: #fc3535!important;
  font-weight: bold;
}


.table-center {
  text-align: center;
}

.course_starts_at {
  margin-bottom: 0 !important;
  width: 90%;
}
.course_ends_at {
  margin-bottom: 0 !important;
  width: 90%;
}

.student-mr {
  color: black;
  text-align: center;
}

.green-text strong {
  color: #1CDD87;
}

.red-text strong {
  color: $pink;
}

.table-search-header {
  text-align: center!important;
}

.sorting_disabled {
  text-align: center!important;
}

.dataTables_wrapper .dataTables_filter {
  text-align: center!important;
  float: none!important;
}

.dataTables_wrapper .dataTables_filter input {
  text-align: center!important;
  padding: 8px!important;
  border-radius: 20px!important;
  border: 0.5px solid lightgray!important;
}

.total-row {
  font-weight: bold;
  background-color: $yellow!important;
}

.banish-student-row:hover {
  background-color: $yellow;
  cursor: pointer;
}

.container-special {
  width: 60%;
  margin: 0 auto;
}

.container-big {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;

}

.table-no-top-margin {
  margin-top: 0!important;
  border-top-left-radius: 0!important;
  border-top-right-radius: 0!important;
  margin-bottom: 20px;

  tr {
    border-style: hidden;
  }
}

.table-align-middle th, .table-align-middle td {
  vertical-align: middle;
}

.grey-background {
  background-color: #f4f1f1!important;
}

.table-border-vertical td:not(:first-child):not(:last-child),
.table-border-vertical th:not(:first-child):not(:last-child) {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.table-border-vertical tbody tr:last-child td {
  border-bottom: none!important;
}

.card-row-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: 0.5rem!important;
  box-shadow: none!important;
  background-color: white;
  gap: 0.5rem;
  padding: 0.5rem!important;

}

// .card-row-container-camp {
//  border-radius: 0.5rem!important;
//  box-shadow: none!important;
//  background-color: white;
//  gap: 0.5rem;
//  padding: 0.5rem!important;
// }

.card-row-container-no-padding {
  padding: 0;
}

.card-row {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #f5f5f5;
  height: 2.5rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
  &:hover {
    background-color: $yellow!important;
    transform: scale(1.008);
  }
}

.card-row-no-transform:hover {
  transform: none!important;
}

.card-row-no-hover {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #f3f3f3;
  height: 2.5rem;
}

.card-row-higher {
  height: 2.8rem;
}

.header-row {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.08);
  font-weight: bold;
  background-color: white;
}

// .header-row-camp {
//   border-radius: 0.5rem;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.08);
//   font-weight: bold;
//   background-color: white;
// }

.header-row-border {
  border: 2px solid black;
}

// .header-row-black {
//   background-color: black;
//   color: white;
// }

.row-with-border {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 0.5rem;
}

.flexy-row {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.small-col {
  max-width: 7%;
}

.medium-col {
  max-width: 8%;
}

.large-col {
  max-width: 10%;
}

.equal-height-row {
  display: table-row; /* Force le comportement des cellules comme une ligne de tableau */
}

.equal-height-row td {
  display: table-cell; /* Comportement cellulaire */
}
