.clickable-tr {
  cursor: pointer;
}

.clickable-tr:hover {
  background-color: $yellow!important;
  cursor: pointer;
}

.clickable-coach-tr {
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease; /* Transitions pour l'échelle et la couleur de fond */
}

.clickable-coach-tr:active,
.clickable-coach-tr:focus {
  transform: scale(1.05) translateZ(0); /* Légère transformation 3D pour éviter le flou du texte */
  background-color: $yellow;
}

.table.course-table > :not(caption) > * > * {
  padding: 0.7rem 0rem; /* Modifiez la valeur de padding selon vos besoins */
}


.table-center {
  text-align: center;
}

.course_starts_at {
  margin-bottom: 0 !important;
}
.course_ends_at {
  margin-bottom: 0 !important;
}

.student-mr {
  color: black;
  text-align: center;
  font-size: 0.85em;
}

.green-text strong {
  color: green;
}

.red-text strong {
  color: red;
}

.table-search-header {
  text-align: center!important;
}

.sorting_disabled {
  text-align: center!important;
}

.dataTables_wrapper .dataTables_filter {
  text-align: center!important;
  float: none!important;
}

.dataTables_wrapper .dataTables_filter input {
  text-align: center!important;
  padding: 8px!important;
  border-radius: 20px!important;
  border: 0.5px solid lightgray!important;
}

.total-row {
  font-weight: bold;
  background-color: $yellow!important;
}

.banish-student-row:hover {
  background-color: $yellow;
  cursor: pointer;
}
