<div class="yellow-title">LES PROCHAINS STAGES</div>

<div class="dashboard-container">
  <div class="row justify-content-center align-items-center">
      <% @school_periods.each do |school_period| %>
        <% academy = school_period.academy %>
        <%= link_to new_parents_academy_school_period_school_period_enrollment_path(academy, school_period), class: "col-12 col-lg-5 mt-1" do %>
          <div class="card-academy" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= display_academy_image(academy) %>')">
            <%= academy.name.upcase %><br>
            <%= "#{school_period.name} - #{school_period.year}" %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
